
<%- include('header.ejs') %>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Welcome <span id="name_show"></span></h3>
            
           
          </div>
         
        </div>
      </div>
    </div>
    <div class="row">
     
      <div class="col-md-12 grid-margin transparent">
        <div class="row">
          <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Total Vendors</p>
                <p class="fs-30 mb-2">5</p>
                <a href="/vendor" style="color:white"><p>View All</p></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
              <div class="card-body">
                <p class="mb-4">Pending Vendors</p>
                <p class="fs-30 mb-2">4</p>
                <a href="/existing-vendor" style="color:white"><p>View All</p></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
              <div class="card-body">
                <p class="mb-4">Revert Vendor</p>
                <p class="fs-30 mb-2">1</p>
                <a href="/revert-vendor" style="color:white"><p>View All</p></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Approval Vendor</p>
                <p class="fs-30 mb-2">0</p>
                <a href="/approval-vendors" style="color:white"><p>View All</p></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
              <div class="card-body">
                <p class="mb-4">New Register Vendors</p>
                <p class="fs-30 mb-2">2</p>
                <a href="/new-vendor" style="color:white"><p>View All</p></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
              <div class="card-body">
                <p class="mb-4">Rejected Vendor</p>
                <p class="fs-30 mb-2">0</p>
                <a href="/new-vendor" style="color:white"><p>View All</p></a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  
   
  </div>
 

<%- include('footer.ejs') %>