/* Parsley CSS */

.parsley-success {
  color: #2fde32;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

.parsley-error {
  color: #f40400;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-required {
  color: red;
  margin: 10px;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}


.modal .modal-dialog {
  margin-top: 10px !important;
}



/* Timeline Container */
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 2px solid #333;
}

/* Card container */
.card1 {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;

  border-radius: 8px;
  max-width: 400px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e3e3;

}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title of the card */
.title {
  color: #4B49AC;
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -37px;
  border: 3px solid #4B49AC;
}